.login-form {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
     
  }

  .login-form > label,input {
    color: black !important;  
   }
   

  .create-semester-form > label  {
   color: white !important;  
  }
  